:root{
  /*Primary*/
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  
  /*Neutral*/
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
}

p {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  color: var(--Grayish-Blue);
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  padding: 20px 35px;
  padding-bottom: 110px;
}
.header svg {
  margin-bottom: 30px;
}
.header h1 {
  margin-bottom: 30px;
}
.header p {
  margin-bottom: 30px;
  text-align: center;
}

.btn1,.btn2{
  padding: 10px 30px;
  border-radius: 25px;
  font-family: inherit;
  margin: 5px;
  color: #fff;
  border: 0;
}

.btn1 {
  background: var(--Strong-Cyan);
  box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}

.btn2 {
  background: var(--Light-Blue);
  box-shadow: 0px 6px 12px rgba(0, 119, 255, 0.3);
}

/*hero*/

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
}

.hero_message h2 {
  margin-bottom: 25px;
}
.hero_message p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

.hero_img{
  display: flex;
  flex-direction: row;
  padding: 25px;
  gap: 3rem;
  padding-bottom: 110px;
}
.hero_img img{
  width: 55%;
}
.hero_list{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.list h3{
  padding: 5px;
  font-size: 14px;
}
.list p{
  font-size: 12px;
}

/*hero 2*/

.hero_two{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.hero_two_message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  padding-bottom: 80px;
}

.hero_two_message h2 {
  margin-bottom: 25px;
}
.hero_two_message p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

.hero_two img{
  width: 60%;
}

/*hero 3*/

.hero_three{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.hero_three_message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  padding-bottom: 20px;
}

.hero_three_message h2 {
  margin-bottom: 25px;
}
.hero_three_message p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

/*how to use*/

.how_to_use{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  gap: 1rem;
}

.one{
  display: flex;
  padding: 0px 20px;
  align-items: center ;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
}

.one p{
  font-size: 10px;
  text-align: center;
}
.one h3{
  font-size: 11px;
}

.partners{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
}
.partners img{
  height: 35px;
}

/*cta*/

.cta{
  padding-bottom: 100px;
}

.cta_message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  padding-bottom: 20px;
}

.cta_message h2 {
  margin-bottom: 25px;
}
.cta_message p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

.cta_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta1,.cta2{
  padding: 10px 30px;
  border-radius: 25px;
  font-family: inherit;
  margin: 5px;
  color: #fff;
  border: 0;
}

.cta1{
  background: var(--Strong-Cyan);
  box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}

.cta2{
  background: var(--Light-Blue);
  box-shadow: 0px 6px 12px rgba(0, 119, 255, 0.3);
}

footer{
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: whitesmoke;
}

footer img{
  width: 40px;
  height: 40px;
}

.help_lists{
  display: grid;
  align-self: center;
  justify-content: space-evenly;
  grid-auto-rows: 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 5px;
}

.help_lists li{
  list-style: none;
  padding: 3px 25px;
  font-size: 12px;
  color: var(--Dark-Grayish-Blue);
}


@media (max-width:600px) {
  .header h1 {
    text-align: center;
    font-size: 22px;
  }
  
  .header p{
    font-size: 12px;
  }
  
  .btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn1,.btn2{
    padding: 15px 60px;
  }
  
  .hero_message h2 {
    font-size: 22px;
    text-align: center;
  }
  
  .hero_message p {
    font-size: 10px;
  }
  
  .hero_img{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
  }
  
  .hero_img img{
    width: 100%;
  }
  
  .hero_list{
    align-items: center;
    justify-content: center;
  }
  
  .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .list h3{
    font-size: 16px;
    padding: 25px 0;
  }
  
  .list p{
    text-align: center;
  }
  
  .hero_two_message h2 {
    font-size: 22px;
    text-align: center;
    
  }
  .hero_two_message p {
    text-align: center;
    font-size: 9px;
  }

  .hero_two img{
    width: 100%;
  }
  
  .hero_three_message h2 {
    font-size: 20px;
    text-align: center;
  }
  
  .hero_three_message p {
    font-size: 12px;
  }
  
  .how_to_use{
    flex-direction: column;
  }
  
  .one p{
    font-size: 9px;
    text-align: center;
  }
  
  .one h3{
    padding: 10px 0;
    font-size: 16px;
  }
  
  .partners{
    flex-direction: column;
  }
  
  .cta_message h2 {
    font-size: 22px;
    text-align: center;
  }
  
  .cta_message p {
    font-size: 10px;
  }

  .cta_btn{
    flex-direction: column;
  }
  
 .cta1,.cta2{
    padding: 15px 60px;
  }
  
  footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .help_lists {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 5px;
  }
  
  .help_lists li{
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
  }
  
  .logos{
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
}